/* color pallete: https://colorhunt.co/palette/a9907ef3debaabc4aa675d50 */

.cover {
    width: 400px;
    height: auto;
}

h1 {
    color: #675D50;
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    display:flex;
    margin: 0 auto 0;
    padding: 0;
}

.inlinelist {
    display: inline-block;
    margin: 0 auto 0;
    padding: 0 0 0;
    text-align: center;
    flex:1;
    align-self: flex-end;
}

.maintitle {
    background-color: #A9907E;
    width: 75%;
    margin: auto;
    margin-bottom: 0;
    text-align: center;
    padding: 0.25em;
}

.centercont {
    margin: auto;
    background-color: #F3DEBA;
    width: 75%;
    text-align: center;
    padding: 8px;
}

.mainthumb {
    width: 100px;
    display: block;
    margin: auto;
}